/*
*
* Catppuccin Mocha palette
* Maintainer: rubyowo
*
*/

/* @define-color bg     rgba(22, 22, 29, 1); */
@define-color bg     #121315;
@define-color base   #121315;
@define-color mantle #171719;
@define-color crust  #161616;

@define-color text     #bbbac1;
@define-color subtext0 #C8C093;
@define-color subtext1 #C8C093;

@define-color surface0 #121315;
@define-color surface1 #54546D;
@define-color surface2 #585b70;

@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9399b2;

@define-color blue      #86a3f0;
@define-color lavender  #a8a6de;
@define-color sapphire  #6397cf;
@define-color sky       #abbceb;
@define-color teal      #629da3;
@define-color green     #465D4B;
@define-color yellow    #ad9368;
@define-color peach     #E46876;
@define-color maroon    #ad82a2;
@define-color red       #e67e80;
@define-color mauve     #6b6b99;
@define-color pink      #D28E99;
@define-color flamingo  #D27E99;
@define-color rosewater #D27E99;
