/*
*
* Catppuccin Mocha palette
* Maintainer: rubyowo
*
*/

@define-color bg     rgba(22, 22, 29, 0.75);
@define-color base   #1F1F28;
@define-color mantle #2A2A37;
@define-color crust  #363646;

@define-color text     #DCD7BA;
@define-color subtext0 #c4b28a;
@define-color subtext1 #C8C093;

@define-color surface0 #363646;
@define-color surface1 #54546D;
@define-color surface2 #585b70;

@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9399b2;

@define-color blue      #7FB4CA;
@define-color lavender  #8ea49e;
@define-color sapphire  #435965;
@define-color sky       #A3D4D5;
@define-color teal      #7AA89F;
@define-color green     #699469;
@define-color yellow    #c4b28a;
@define-color peach     #E46876;
@define-color maroon    #cc928e;
@define-color red       #c4746e;
@define-color mauve     #a292a3;
@define-color pink      #D28E99;
@define-color flamingo  #d5cd9d;
@define-color rosewater #D27E99;
