@import "themes/roseprime.css";

* {
  font-family: "Zed Sans";
  font-size: 12px;
  opacity: 1;
}

#waybar {
  background: @base;
  color: @text;
}

#workspaces {
  background: @base;
  opacity: 1;
}

#workspaces button {
  color: @lavender;
  padding: 0.2rem 0rem 0.2rem 0rem;
}

#workspaces button.active {
  color: @maroon;
  background: @base;
}

#workspaces button:hover {
  color: @lavender;
  margin: 0px;
}

#tray {
  background-color: @bg;
  padding: 0rem;
  padding-bottom: 0.3rem;
}
#backlight,
#clock {
  margin: 0.2rem;
  padding: 0.3rem;
  padding-left: 0rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0rem;
  margin-top: 0.7rem;
}
#clock.date {
  color: @maroon;
  background: @base;
}
#clock.time {
  color: @blue;
  background: @base;
}



#battery {
  margin: 0.3rem;
  padding: 0.3rem;
  border-radius: 0.6rem;
  padding-left: 0rem;
  padding-top: 0.45rem;
  padding-bottom: 0.45rem;
  padding-right: 0rem;
  margin-top: 0.7rem;
  color: @lavender;
  background: @base;
}

#battery.charging {
  background: @green;
  color: @base;
}

#battery.warning:not(.charging) {
  background: @peach;
  color: @base;
}

#battery.critical:not(.charging) {
  background: @red;
  color: @base;
}

#pulseaudio {
  background: @yellow;
  color: @base;
  margin: 0.3rem;
  padding: 0.3rem;
  padding-left: 0rem;
  border-radius: 0.6rem;
  padding-top: 0.45rem;
  padding-bottom: 0.45rem;
  padding-right: 0rem;
  margin-top: 0.7rem;
}

#cpu {
  color: @yellow;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background: @base;
  padding: 0.3rem;
  margin: 0.2rem;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}
#memory.mem {
  color: @blue;
  padding: 0.3rem;
  background: @base;
  margin: 0.2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0.15rem;
  margin-top: 0.4rem;
}
#memory.swap {
  color: @maroon;
  padding: 0.3rem;
  background: @base;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: 0.2rem;
  margin-top: 0.15rem;
  margin-bottom: 0.2rem;
}

#window {
  color: @text;
  background: @base;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 4px;
  padding-right: 4px;
}
window#waybar {
  background-color: @bg;
}
